.idea/
.vscode/
node_modules/
components/
doc/
.dbis.secret.json
.localGruntConfig.json
/.project
.codio
.settings
html/
bower_components

npm-debug.log
app/report*.json
app/build
widgets/build
.DS_Store
build
example-app/build