{
    "baseUrl_use_for_commit" : "https://rwth-acis.github.io/syncmeta/html",
    "baseUrl" : "http://localhost:8081",
    "roleSandboxUrl":"http://127.0.0.1:8073",
    "yjsConnectorUrl" : "http://localhost:1234",
    "yjsConnectorUrl_use_for_commit":"http://yjs.dbis.rwth-aachen.de:5079"
    
}