{
    "deployLocally":true,
    "baseUrl" : "https://rwth-acis.github.io/syncmeta/syncmeta6",
    "baseUrl_local" : "http://localhost:8081",
    "roleSandboxUrl_local":"http://127.0.0.1:8073",
    "roleSandboxUrl":"http://role-sandbox.eu",
    "yjsConnector":"websockets-client",
    "yjsDatabaseAdapter":"memory",
    "yjsConnectorUrl_local" : "http://localhost:1234",
    "yjsConnectorUrl":"http://yjs.dbis.rwth-aachen.de:5081",
    "yjsResourcePath":"/socket.io"    
}