.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*noinspection CssUnknownTarget*/
    background: white url('https://mari0.github.io/syncmeta/html/img/loading.gif') no-repeat center center;
    z-index: 32032;
}

#oauthPersonalize, #oauthPersonalizeDone, #oauthPersonalizeComplete{
    position: relative;
    z-index: 32033;
}

#q {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    cursor: s-resize;
}