<!-- <button class='bs-btn bs-btn-default bs-btn-s' style="z-index: 30000; opacity:0.4;">
	<i class='fa fa-plus' style='margin-right:5px;'></i><%= label %>
</button> -->
<!-- Split button -->
<div class="bs-btn-group" style="z-index: 30000; opacity:0.4;">
  <button type="bs-button" class="bs-btn bs-btn-default create-edge-button"><i class='fa fa-plus' style='margin-right:5px;'></i><span class="label"></span></button>
  <button type="bs-button" class="bs-btn bs-btn-default bs-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-height:34px;">
    <span class="bs-caret"></span>
  </button>
  <ul class="bs-dropdown-menu edge-list">
  </ul>
</div>