<div class="guidance-box bs-panel bs-panel-info" style="opacity:0.5;">
  <div class="bs-panel-body" style="padding:2px;">
  		<div class="bs-btn-group bs-gtn-group-s buttons" role="group">
		</div>
  </div>
  <div class="bs-panel-footer" style="padding-top:0px; padding-bottom:0px; background-color:#337ab7; color:white; font-size:12px; overflow:hidden;">
  	<p class="scroll-text" style="width:1; white-space:nowrap; position:relative; margin:0px;"><i class="fa fa-puzzle-piece" style="margin-right:5px;"></i>Guidance</p>
  </div>
</div>