<div class="bs-panel bs-panel-success">
	<div class="bs-panel-heading"><h3 class="bs-panel-title"><i style="margin-right:5px;" class="fa fa-puzzle-piece"></i>Available Guidance</h3></div>
	<div class="bs-panel-body">
		<ul class="bs-list-group guidance-list">
		</ul>
	</div>
</div>
<div class="bs-panel bs-panel-success">
	<div class="bs-panel-heading"><h3 class="bs-panel-title"><i style="margin-right:5px;" class="fa fa-history"></i>Activity History</h3></div>
	<div class="bs-panel-body">
		<ul class="bs-list-group history-list">
			<li class="bs-list-group-item">Wusel</li>
		</ul>
	</div>
</div>