#palette {
    max-height: 450px;
    overflow: auto;
}
button {
    border: 1px dotted #CCCCCC;
    background: none;
    text-align: left;
    width: 100%;
}
button.selected {
    border: 1px solid #999999;
    background-color: #EEEEEE;
}
hr {
    border-width: 0 0 1px 0;
    border-color: #CCCCCC;
    margin: .2em 0;
}
p#info {
    font-size: .6em;
}