<div class="single_quiz_attribute">
  <div class="name"></div>
  <div class="value"></div>
  <table id="table" style="float: left; visibility: hidden">
    <tr>
      <th>Assessment Name :</th>
      <th><input class="form-control" id="topic" /></th>
    </tr>
    <tr>
      <td>Nr</td>
      <td>Question</td>
      <td>Correct Intent</td>
      <td>Optional Hint</td>
    </tr>
  </table>
  <button
    id="b"
    style="margin-left: 3px; float: left; width: 50%; visibility: hidden"
  >
    +
  </button>
  <button
    id="c"
    style="margin-left: 3px; float: left; width: 50%; visibility: hidden"
  >
    -
  </button>
  <button
    id="submit"
    style="margin-left: 3px; float: left; width: 50%; visibility: hidden"
  >
    Submit
  </button>
  <button
    id="display"
    style="margin-left: 3px; float: left; width: 50%; visibility: hidden"
  >
    Display
  </button>
</div>
